@import url(./openSans.css);
@import url(./font-awesome.min.css);

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.05em;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
.guitar-neck {
  position: relative;
  margin-top: 20px;
  left: 50%;
  margin-left: -450px;
  width: 960px;
  height: 250px;
  background: #755628;
  box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}
.guitar-neck .open-notes {
  position: absolute;
  top: 3px;
  left: -35px;
}
.guitar-neck .open-notes li {
  margin-bottom: 20px;
  font-size: 18px;
  color: #fff;
}
.guitar-neck .open-notes li.active {
  color: #fa990f;
}
.guitar-neck .fret {
  float: left;
  width: 3px;
  height: 250px;
  background: #d7d6d6;
  margin-left: 75px;
  border-right: 2px solid #686868;
}
.guitar-neck .fret.first {
  position: absolute;
  width: 50px;
  left: -52px;
  top: 0;
  margin-left: 0;
  background: #211f1d;
}

.guitar-neck .dots {
  position: absolute;
  height: 20px;
}

.guitar-neck .mid-dots {
  top: 45%;
  width: 642px;
  left: 19.5%;
}

.guitar-neck .low-dots {
  top: 17%;
  width: 20px;
}

.guitar-neck .high-dots {
  top: 75%;
  width: 20px;
}

.guitar-neck .low-dots,
.guitar-neck .high-dots {
  left: 94.25%;
}

.guitar-neck .high-dots li,
.guitar-neck .low-dots li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #383530;
  margin-right: 140px;
}

.guitar-neck .mid-dots li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #383530;
  margin-right: 140px;
}

.guitar-neck .strings {
  position: absolute;
  left: 0;
  top: 10px;
  width: 960px;
  height: 250px;
}
.guitar-neck .strings li {
  height: 1px;
  display: inline-block;
  width: 100%;
  background: #c8bb93;
  margin-bottom: 38px;
  border-bottom: 2px solid #958963;
  box-sizing: border-box;
}
.guitar-neck .strings li:nth-child(2) {
  height: 2px;
}
.guitar-neck .strings li:nth-child(3) {
  height: 3px;
}
.guitar-neck .strings li:nth-child(4) {
  height: 4px;
}
.guitar-neck .strings li:nth-child(5) {
  height: 5px;
}
.guitar-neck .strings li:nth-child(6) {
  height: 6px;
}
.guitar-neck .notes {
  position: absolute;
  left: 0px;
  top: -7px;
  width: 960px;
  height: 258px;
  overflow-x: hidden;
}
.guitar-neck .notes .mask {
  position: absolute;
  right: -189px;
  bottom: 0;
  width: 1184px;
  height: 30px;
}
.guitar-neck .notes .mask ul {
  position: relative;
  float: left;
}
.guitar-neck .notes .mask ul li {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 50px;
  background: #fa990f;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.guitar-neck .notes .mask.a {
  bottom: 47px;
}
.guitar-neck .notes .mask.d {
  bottom: 93px;
}
.guitar-neck .notes .mask.g {
  bottom: 137px;
}
.guitar-neck .notes .mask.b {
  bottom: 181px;
}
.guitar-neck .notes .mask.high-e {
  bottom: 224px;
}
.controls {
  position: relative;
  margin-top: 20px;
  left: 50%;
  margin-left: -443px;
  width: 960px;
  /* height: 300px; */
  text-align: center;
  color: #333;
}
.controls a {
  text-decoration: none;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  margin-right: 40px;
}
.controls a.down {
  margin-right: 0;
}
.controls h2 {
  text-transform: uppercase;
  margin: 40px 0;
}
.controls ul li {
  float: left;
  width: 55px;
  height: 20px;
  background: #333;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}
.controls ul li:last-child {
  margin-right: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border-top-width: 0px !important;
  border-right-width: 0px !important;
  border-left-width: 0px !important;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 80%;
/* body { */
  background: #f9f8ec;
  font-family: "Open Sans", sans-serif;
/* } */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none !important;
  max-height: 3px;
  position: relative;
  top: -3px;
  background: #DDD;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 15px;
  height: 15px;
  position: relative;
  top: -1px;
  background: #222;
}

.modal input[type=checkbox] {
  display: none;
}

.modal input[type=checkbox] + label {
  display: inline-block !important;
  height: 15px;
  width: 15px;
  margin: 0px 4px 0px 0px !important;
  padding: 0px;
  position: relative;
  top: 4px;
  background: #FFF;
  cursor: pointer;
}

.modal input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: #F38630;
  opacity: 0;
  position: relative;
  top: -5px;
  right: -1px;
  transform: skewX(0deg);
  transition: all 0.24s;
}

.modal input[type=checkbox] + label:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 15px;
  background: #F38630;
  opacity: 0;
  position: relative;
  top: -5px;
  right: -3px;
  transform: skewX(0deg);
  transition: all 0.24s;
}

.modal input[type=checkbox]:checked + label:before {
  transform: skewX(30deg);
  opacity: 1;
}

.modal input[type=checkbox]:checked + label:after {
  transform: skewX(-30deg);
  opacity: 1;
}

.modal .container {
  width: 100%;
}

.modal header {
  height: 65px;
  background: #879BAD;
  color: #2a353e;
  font-size: 36px !important;
  font-weight: 400;
  text-align: center;
  padding: 5px;
}

.modal .metronome-container {
  width: 75%;
  height: auto;
  position: relative;
  margin: 20px auto;
  background: #2f2f2f;
}
.metronome-container .options-btn {
  color: #FFF;
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 15px;
  transform: rotateZ(0deg);
  cursor: pointer;
  transition: transform 0.3s;
}
.metronome-container .options-btn:hover {
  transform: rotateZ(60deg);
}
.metronome-container .options-active {
  max-height: 1000px !important;
  padding: 15px;
  overflow: visible !important;
}
.metronome-container .options {
  max-height: 0px;
  background: #FFF;
  color: #333;
  overflow: hidden;
  transition: all 0.25s;
  position: absolute;
  top: 50px;
  right: 15px;
}
.metronome-container .options .up {
  color: #FFF;
  font-size: 22px;
  position: absolute;
  top: -14px;
  right: 3px;
  z-index: 500;
  transform: rotateZ(180deg);
}
.metronome-container .options label {
  display: block;
  margin-top: 10px;
}
.metronome-container .counter {
  width: 100%;
  padding-bottom: 10px;
  background: #404040;
  text-align: center;
}
.metronome-container .counter .dot {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 25px 10px 10px 10px;
  background: #FFF;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.metronome-container .counter .active {
  background: #5ec2ff;
}
.metronome-container .metronome-controls {
  color: #FFF;
  padding: 20px;
  text-align: center;
}
.metronome-container .metronome-controls label {
  display: block;
  margin-bottom: 18px;
}
.metronome-container .metronome-controls label span {
  background: #FFF;
  color: #222;
  padding: 5px;
}
.metronome-container .metronome-controls label span i {
  cursor: pointer;
  transition: color 0.2s;
}
.metronome-container .metronome-controls label span i:hover {
  color: #FA6900;
}
.metronome-container .metronome-controls input {
  width: 30px;
  border: 0px solid;
  color: #222;
  text-align: center;
  padding: 4px;
}
.metronome-container .metronome-controls select {
  border: 0px;
  color: #222;
}
.metronome-container .metronome-controls .play-btn {
  width: 45%;
  background: #D6E26D;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
  color: #3d430d;
  transition: background 0.3s;
}
.metronome-container .metronome-controls .play-btn:hover {
  background: #e8efad;
}
.metronome-container .metronome-controls .tap-btn {
  width: 45%;
  background: #888;
  border: 0px;
  border-radius: 5px;
  padding: 12px;
  color: #fbfbfb;
  transition: background 0.3s;
}
.metronome-container .metronome-controls .tap-btn:hover {
  background: #959595;
}

footer {
  width: 50%;
  height: auto;
  background: #FFF;
  color: #444;
  padding: 10px;
  margin: 10px auto;
}
