
div.bck{
    width:100px;
    height:100px;
    margin:10px;
    text-align: center;
    line-height: 100px;
    position:absolute;
    border-radius:10px;
    border-style:hidden;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    margin: 0px;
}
div#map{
    top:0;
    width:400px;
    height:400px;
    border:2px black solid;
    position:fixed;
    background-color:rgb(255, 255, 255);
}
button{
    left:400px;
    height:404px;
    width:200px;
    position:fixed;
}
