/*
#ukagaka_controlpanel {
	font-size: 1.1em;
	padding: 0 0 0.3125em 0;
	position: fixed;
	right: 40px;
	bottom: 0px;
	background: color-section;
}

#ukagaka_controlpanel span {
	font-family: font-custom-family;
	color: color-blue;
	border-radius: 10px;
	border-width: 5px;
	border-style: solid solid solid;
}

#ukagaka_controlpanel span:hover {
	color: color-theme2;
	transition: color 0.5s;
}

#ukagaka_panel {
	padding: 0.5em 2% 1em;
	width: 88.2px;
	height: 230.3px;
	position: fixed;
	right: 40px;
	bottom: 40px;
	cursor: pointer;
	height: 0px;
}

#ukagaka_panel span {
	padding: 5px;
}

.ukagaka_box {
	border-radius: 10px;
	border-width: 5px;
	border-style: solid dashed dashed;
	position: absolute;
	bottom: 150px;
	right: 120px;
	font-size: 100%;
	background: color-section;
	color: #808080;
}

.ukagaka_msg {
	border-radius: 10px;
	padding: 0.5em 2% 1em;
	color: color-white;
	width: 195px;
	font-family: font-custom-family, font-default;
}

.ukagaka_msg::before {
	padding-right: 0.5em;
}

.ukagaka_msg span#ukagaka_menu_btn_addstring,
.ukagaka_msg span#ukagaka_menu_btn_renewlist,
.ukagaka_msg span#ukagaka_menu_btn_exit {
	border-radius: 5px;
	border-width: 1px;
	border-style: solid solid solid;
	display: inline;
	color: color-blue;
}

.ukagaka_msg span#ukagaka_menu_btn_addstring:hover,
.ukagaka_msg span#ukagaka_menu_btn_renewlist:hover,
.ukagaka_msg span#ukagaka_menu_btn_exit:hover {
	color: color-theme2;
}

.ukagaka_msg span#ukagaka_menu_btn_addstring::before,
.ukagaka_msg span#ukagaka_menu_btn_renewlist::before,
.ukagaka_msg span#ukagaka_menu_btn_exit::before {
	padding-right: 0.5em;
}

.ukagaka_msg span#ukagaka_btn_menu,
.ukagaka_msg span#ukagaka_addmenu_add {
	border-radius: 5px;
	border-width: 1px;
	border-style: solid solid solid;
	display: inline;
	color: color-blue;
}

.ukagaka_msg span#ukagaka_btn_menu:hover,
.ukagaka_msg span#ukagaka_addmenu_add:hover {
	color: color-theme2;
}

.ukagaka_msg span#ukagaka_btn_menu::before,
.ukagaka_msg span#ukagaka_addmenu_add::before {
	padding-right: 0.5em;
}

#ukagaka_img {
	background: url("/img/ukagaka_img.png") no-repeat;
	width: 150px;
	height: 350px;
	transform: scale(0.7);
	-ms-transform: scale(0.7);
	-webkit-transform: scale(0.7);
	-o-transform: scale(0.7);
	-moz-transform: scale(0.7);
	position: absolute;
	top: -49px;
	right: -19px;
}

#ukagaka_stringinput >input {
	width: 95%;
}
*/
/* extend icons */
#ukagaka_controlpanel ul li,
.ukagaka_box,
.ukagaka_toc,
.ukagaka_msg,
/*.widget,*/
#playblock {
  background: none repeat scroll 0% 0% #333534;
  border-radius: 3px;
  webkit-border-radius: 3px;
}
#ukagaka_controlpanel {
  /*top: 108px;*/
  bottom: 97.5px;
  right:0px;
  float:right;
  position: absolute;
  pointer-events: auto;
}

#ukagaka_stringinput {
  display: none;
}

#ukagaka_addstring {
  pointer-events: auto;
  color:#000;
  padding: 0px 0px 0px 0px;
}

#ukagaka_controlpanel ul {
  margin: 7px 0;
  padding: 0px 0px 0px 0px;
}
#ukagaka_controlpanel ul li {
  background: none repeat scroll 0% 0% rgba(155,155,155,0.5);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 18px;
  margin: 2px 5px;
  padding: 8px 6px;
  text-align: center;
  text-decoration: none;
  width: 20px;
  line-height: 19.2px;
}
.ukagaka_block {
  max-width: 200px;
}
#ukagaka_panel {
  bottom: 250px;
  font-family: "Open Sans Light", "Georgia", "Microsoft YaHei", "Times New Roman", serif;
  position: fixed;
  right: 5px;
  width: 210px;
  z-index: 9999;
  text-align: left;
}
#ukagaka_panel span {
  cursor: pointer;
}
.ukagaka_box,
.ukagaka_toc,
.ukagaka_msg {
  background: #1f1f1f;
  color: #f0f0f0;
  font-family: "Open Sans Light", "Georgia", "Microsoft YaHei", "Times New Roman", serif;
  font-size: 100%;
  line-height: 1.25em;
  max-width: 200px;
  padding: 10px;
}
.ukagaka_box a,
.ukagaka_toc a,
.ukagaka_msg a {
  color: #f0f0f0;
  text-decoration: none;
}
#ukagaka_menubox,
#ukagaka_stringinput {
  margin: -10px -10px -10px -10px;
}
#ukagaka_renewlist,
#ukagaka_sheetfield {
  margin: 10px -10px -10px -10px;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring,
.ukagaka_msg span#ukagaka_menu_btn_renewlist,
.ukagaka_msg span#ukagaka_menu_btn_exit,
.ukagaka_msg span#ukagaka_btn_menu,
.ukagaka_msg span#ukagaka_addmenu_add {
  display: inline;
  margin: 0.1em;
  font-weight: bold;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring:hover,
.ukagaka_msg span#ukagaka_menu_btn_renewlist:hover,
.ukagaka_msg span#ukagaka_menu_btn_exit:hover,
.ukagaka_msg span#ukagaka_btn_menu:hover,
.ukagaka_msg span#ukagaka_addmenu_add:hover {
  color: #2ca6cb;
}
.ukagaka_msg span#ukagaka_menu_btn_addstring::before,
.ukagaka_msg span#ukagaka_menu_btn_renewlist::before,
.ukagaka_msg span#ukagaka_menu_btn_exit::before,
.ukagaka_msg span#ukagaka_btn_menu::before,
.ukagaka_msg span#ukagaka_addmenu_add::before {
  padding-right: 0.5em;
}
.ukagaka_msg a {
  color: #4183c4;
  text-decoration: none;
}
.ukagaka_msg a:hover {
  text-decoration: underline;
}
.ukagaka_img {
  bottom: -20px;
  max-height: 270px;
  pointer-events: none;
  position: fixed;
  right: 0;
}
.ukagaka_log {
  cursor: pointer;
  position: relative;
  right: 0;
  width: 50px;
}
#ukagaka_stringinput > input {
  width: 100%;
  margin: 7px 0px 7px 0px;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: 0.3em;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  color: #f0f0f0;
}
[class^="icon-"]:hover,
[class*=" icon-"]:hover {
  color: #2ca6cb;
}
.icon-weibo:before {
  content: "\f18a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-quiet:before {
  content: "\f10e";
}
.icon-facebook-sign:before {
  content: "\f082";
}
.icon-google-plus-sign:before {
  content: "\f0d4";
}
.icon-download:before {
  content: "\f019";
}
.icon-reply:before {
  content: "\f122";
}
.icon-github-alt:before {
  content: "\f113";
}
.icon-googles:before {
  content: "\f1a0";
}
.icon-star:before {
  content: "\f005";
}
.icon-home:before {
  content: "\f015";
}
.icon-archive:before {
  content: "\f187";
}
.icon-user:before {
  content: "\f007";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-camera:before {
  content: "\f030";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-file-o:before {
  content: "\f0f6";
  color: #2ca6cb;
}
.icon-child:before {
  content: "\f1ae";
  color: #2ca6cb;
}
.icon-uhunt {
  font-family: impact;
  background-color: #f0f0f0;
  color: #262a30;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: -5px;
  padding: 3px 2px;
}
.icon-uhunt:hover {
  background-color: #2ca6cb;
  color: #262a30;
}
.icon-backward:before {
  content: "\f04a";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-random:before {
  content: "\f074";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-menu:before {
  content: "\f03a";
}
.icon-gotop:before {
  content: "\f062";
}
.icon-godown:before {
  content: "\f063";
}
.icon-music:before {
  content: "\f001";
}
.icon-mail:before {
  content: "\f003";
}
.icon-power:before {
  content: "\f011";
}
.icon-learn:before {
  content: "\f044";
}

#playblock {
  margin: 2px 0px;
}
#player {
  margin: 4px -8px;
  padding: 28px 16px;
  position: relative;
}
#player i {
  padding: 5px;
}
#player .ctrl {
  line-height: 16px;
  text-shadow: 0 1px 2px #000;
}
#player .ctrl .tag {
  color: #f0f0f0;
}
#player .ctrl .tag span {
  color: #ccc;
  font-size: 12px;
  margin-top: 5px;
}
#player .ctrl .control {
  height: 25px;
  margin-top: 10px;
}
#player .ctrl .control .volume .slider {
  float: right;
  margin-top: 5px;
  width: 80px;
}
#player .ctrl .progress {
  margin-top: 10px;
}
#player .ctrl .progress .timer {
  color: #ccc;
  font-size: 12px;
  margin-top: 8px;
  font-family: "Open Sans Light", Georgia, serif;
}
#player .ctrl .tag strong,
#player .ctrl .tag span {
  display: inline-block;
  padding: 0 3px;
  text-overflow: ellipsis;
}
#player .ctrl .icon:hover,
#player .ctrl i.enable {
  opacity: 0.5;
}
#player .ctrl .progress .repeat.once,
#player .ctrl .progress .repeat.all {
  opacity: 0.5;
}

#smart{
  /*position: "absolute";*/
  bottom: 300px;
  left: 0px;
}

.btn-clicked{
  background-color: #5f5f5f !important;
}
